<div class="language-buttons">
    <button class="flag" (click)="translatePage('FR')" [class.active]="currentLanguage === 'FR'"><img src="assets/images/france.png" alt=""></button>
    <button class="flag" (click)="translatePage('EN')" [class.active]="currentLanguage === 'EN'"><img src="/assets/images/anglais.png" alt=""></button>
    <button class="flag" (click)="translatePage('ES')" [class.active]="currentLanguage === 'ES'"><img src="/assets/images/espagne.png" alt=""></button>
    <button class="flag" (click)="translatePage('DE')" [class.active]="currentLanguage === 'DE'"><img src="/assets/images/allemagne.png" alt=""></button>
</div>

