<div class="mdp">

    <div>Choisir des identifiants</div>
    <div>
        @if(listeIdentifiants){
        <ul>
            @for(identifiant of listeIdentifiants; track identifiant){
                <li>
                    <button (click)="passwordManagerService.remplirFromulaire(identifiant)">
                        {{ identifiant.user }}
                    </button>
                </li>
            }
        </ul>
        }
        @else {
            <p>Aucun identifiant trouvé pour ce domaine.</p>
        }
    
    </div>

    <button (click)="passwordManagerService.supprIdentifiantsDeLaPage()">Supprimer les identifiants liés au domaine</button>

    <div>
        <input [(ngModel)]="nouvelIdentifiant.user" type="text" placeholder="Nom d'utilisateur" >
        <input type="password" placeholder="Mot de passe" [(ngModel)]="nouvelIdentifiant.mdp">
        <button (click)="passwordManagerService.saveIdentifiants([nouvelIdentifiant])">Enregistrer</button>
    </div>

    <div>
        <button (click)="passwordManagerService.saveIdentifiants([identifiantTest])" >Enregistrer identifiantTest</button>
    </div>

    <div>
        <button (click)="passwordManagerService.fermer()" >Fermer</button>
    </div>
</div>